@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Recalibrate font sizing */
html {
    font-size: 62.5%;
}

/* Global Styles (apply to all pages) */
body {
    font-family: "Lato", sans-serif;
    /* Main font */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensure footer stays at bottom */
}

/* ----- Header ----- */
header {
    background: #fff;
    padding: 0 1rem;
    position: fixed;
    /* Sticks to top */
    width: 100%;
    box-shadow: 0 2px 2px #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header a {
    text-decoration: none;
    color: #000000;
}

/* Navigation menu */
#menu {
    list-style: none;
    font-size: 2rem;
    letter-spacing: 4px;
}

/* Mobile nav toggle */
nav {
    position: absolute;
    background: #ffffff;
    width: 100%;
    left: 0;
    top: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #000;
    display: none;
    /* Hidden until toggle */
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    cursor: pointer;
}

/* ----- Main content ----- */
main {
    flex: 1 0 auto;
    /* Push footer down */
    margin-top: 24px;
    /* Offset fixed header */
}


/* ================================
   Index Page (index.html)
   ================================ */
#hero {
    height: 100vh;
    background: url("/assets/images/hero-image.jpg") no-repeat center center/cover;
}

#cover-text {
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 1rem;
    border-radius: 6px;
}

#cover-text h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

/* ----- Footer ----- */

footer p {
    text-align: center;
}

#social-networks {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0.7rem 2rem;
}