@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Recalibrate font sizing */
html {
    font-size: 62.5%;
}

/* Global Styles (apply to all pages) */
body {
    font-family: "Lato", sans-serif;
    /* Main font */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ----- Header ----- */
header {
    background: #fff;
    padding: 0 1rem;
    position: fixed;
    /* Sticks to top */
    width: 100%;
    box-shadow: 0 2px 2px #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header i {
    font-size: 3rem;
}

#logo {
    font-size: 3rem;
    letter-spacing: 1.5px;
}

header a {
    text-decoration: none;
    color: #000000;
}

/* Navigation menu */
#menu {
    list-style: none;
    font-size: 2rem;
    letter-spacing: 4px;
}

#menu a {
    line-height: 50px;
}

.active {
    border-bottom: 2px solid #000000;
}

/* Mobile nav toggle */
nav {
    position: absolute;
    background: #ffffff;
    width: 100%;
    left: 0;
    top: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #000;
    display: none;
    /* Hidden until toggle */
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    cursor: pointer;
}

/* ----- Main content ----- */
main {
    flex: 1 0 auto;
    /* Push footer down */
    margin-top: 36px;
    /* Offset fixed header */
}

/* ----- Footer ----- */

footer p {
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

#social-networks {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0.7rem 2rem;
}

#social-networks i {
    font-size: 2rem;
    color: #000000;
}

/* ================================
   Index Page (index.html)
   ================================ */
#hero {
    height: 100vh;
    background: url("/assets/images/hero-image.jpg") no-repeat center center/cover;
}

#cover-text {
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 6px;
}

#cover-text h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

#cover-text p {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

/* ================================
   Places Page (places.html)
   ================================ */

#places {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#landmarks h3 {
    font-size: 2rem;
    color: #6b4226;
    font-style: italic;
    margin-top: 1rem;
}

#landmarks h5 {
    font-size: 1.6rem;
    line-height: 28px;
    margin-bottom: 0.5rem;
}

#landmarks {
    padding: 1rem;
    background: rgba(194, 169, 127, 0.8);
}

/* Images of landmarks */
.landmarks-select {
    box-shadow: 0 0 6px rgba(0, 0, 0, 1);
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

/* Landmark videos */
.landmarks-video {
    width: 100%;
    height: 250px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 1);
    margin-bottom: 2rem;
}

#landmarks a {
    color: red;
    font-style: italic;
    text-decoration: none;
}

#landmarks a:hover {
    text-decoration: underline;
    color: darkred;
}

/* Media Queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    /* Recalibrate font sizing */
    html {
        font-size: 62.5%;
        /* 10px = 1rem */
    }

    #places {
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    #landmarks h3 {
        font-size: 2.8rem;
        color: #6b4226;
        font-style: italic;
        margin-top: 1rem;
    }

    #landmarks h5 {
        font-size: 2rem;
        line-height: 34px;
        margin-bottom: 0.5rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html {
        font-size: 75%;
        /* 1rem = 12px */
    }

    /* Switch nav from burger to horizontal */
    nav {
        display: block;
        width: fit-content;
        position: relative;
        box-shadow: none;
    }

    .nav-toggle-label {
        display: none;
    }

    #menu {
        display: flex;
        gap: 2rem;
    }

    #cover-text h2 {
        font-size: 2.5rem;
    }

    #cover-text p {
        font-size: 1.8rem;
    }

    #landmarks h5 {
        line-height: 38px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    html {
        font-size: 87.5%;
        /* 1rem = 14px */
    }

    main {
        margin-top: 51px;
    }

    #menu a {
        font-size: 1.6rem;
    }

    #cover-text {
        width: 60%;
        left: 20%;
    }

    #landmarks h5 {
        line-height: 50px;
    }
}

/* Extra large devices (large desktops, 1024px and up) */
@media (min-width: 1024px) {
    html {
        font-size: 100%;
        /* 1rem = 16px */
    }

    #logo {
        font-size: 4rem;
    }

    #menu a {
        font-size: 1.8rem;
    }
}

/* Extra Extra large devices ( 1280px and up) */
@media (min-width: 1280px) {
    html {
        font-size: 100%;
        /* 1rem = 16px */
    }

    #logo {
        font-size: 4rem;
    }

    #menu a {
        font-size: 1.8rem;
    }
}

/* Extra extra extra large devices (very large desktops, 1536px and up) */
@media (min-width: 1536px) {
    html {
        font-size: 100%;
        /* 1rem = 16px */
    }

    #cover-text h2 {
        font-size: 4rem;
    }

    #cover-text p {
        font-size: 2.8rem;
    }
}