@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Recalibrate font sizing */
html {
    font-size: 62.5%;
}

/* Global Styles (apply to all pages) */
body {
    font-family: "Lato", sans-serif; /* Main font */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure footer stays at bottom */
}

/* ----- Header ----- */
header {
  background: #fff;
  padding: 0 1rem;
  position: fixed; /* Sticks to top */
  width: 100%;
  box-shadow: 0 2px 2px #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}